.row-cards{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7%;
  }
  
  .card-text{
    font-size: 1.1rem;
    font-weight: 500;
    min-height: 120px;
  }
  
  .ant-card-head-title{
    font-size: 1.5rem;
    font-weight: 500;
  }